<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <style>
    .container {
      max-width: 600px;
    }
  </style>
</head>
<body>
	
  <div class="container">
    
	<div class="py-5 text-center">
      <h2>상품 목록</h2>
    </div>

    <div class="mb-3 text-end">
      <a class="btn btn-primary" th:href="@{/basic/items/add}">상품 등록</a>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>상품명</th>
          <th>가격</th>
          <th>수량</th>
        </tr>
      </thead>
	  
      <tbody>
        <tr th:each="item : ${itemList}">
          <td>
            <a th:href="@{/basic/items/{id}(id=${item.id})}" th:text=${item.id}></a>
          </td>
          <td>
            <a th:href="@{/basic/items/{id}(id=${item.id})}" th:text=${item.itemName}></a>
          </td>
          <td th:text="${item.price}"></td>
          <td th:text="${item.quantity}"></td>
        </tr>
      </tbody>
    </table>
	
  </div>
</body>
</html>
